html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar{
  text-align: center;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  background-color: rgb(74, 202, 134);
  white-space: nowrap;
  margin-top: 1em;
  padding: .25em;
  height: 4em;
  /*top has to be specified for it to be sticky on scrolling pages*/
  position: sticky;
  top:0;
}

.navbar a{
  padding-left: 3em;
  padding-right: 3em;
}

.userStatus{
  float: right;
  padding: 0.1em;
  display: inline;
}

.userStatus a{
  padding: 1em;
}

.header {
  padding-top: 5%;
}

.header h1 {
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline;
}
